@{
    ViewData["Title"] = "Home Page";
    string s = "Demo string";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewBag.FileContent</p>
    <h1>@s @@</h1>

    @if (ViewData["Message"] != null)
    {
        <h2>@ViewData["Message"]</h2>
    }
    
    <!-- HTML註解 (瀏覽器看得到)-->
    <!--<input type="text />-->
    @* Razor註解 (瀏覽器看不到)*@
    @* <input type="text /> *@
</div>
